/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31-dic-2016, 19.04.09
    Author     : zane2
*/
body#login {
  background-color: #F5F5F5;
}
body#login .right_col {
  min-height: auto !important;
}
@media (max-width: 768px) {
  body#edit #edit_elem table.table {
    display: block;
  }
  body#edit #edit_elem table.table tr {
    float: left;
    width: 100%;
    display: block;
    border: none;
  }
  body#edit #edit_elem table.table tr td {
    float: left;
    width: 100%;
    padding: 5px 0;
    border: none;
  }
  body#edit #edit_elem table.table tr td p {
    padding: 0 5%;
  }
}
body#edit #edit_elem td {
  vertical-align: middle;
  border: none;
}
body#edit #edit_elem tr td:first-child {
  width: 20%;
  font-weight: 700;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  body#edit #edit_elem tr td:first-child {
    width: 100%;
    padding: 10px 0;
  }
}
body#edit #edit_elem .box_input .input_cont input,
body#edit #edit_elem .box_input .input_cont textarea {
  border: 1px solid #ddd;
}
body#edit #edit_elem .box_input.submit input {
  float: right;
}
body#edit .x_title {
  border-bottom: none;
}
body .contieni {
  background-color: #F5F5F5;
  position: absolute;
  top: 5%;
  bottom: 5%;
  width: 100%;
  margin: 0;
  padding: 0;
}
@media (max-width: 768px) {
  body .contieni {
    position: initial;
    float: left;
    width: 100%;
  }
}
body .contieni .log_pop {
  width: 500px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  body .contieni .log_pop {
    float: left;
    width: 100%;
  }
}
body .contieni .log_pop .log_cont {
  float: left;
  width: 100%;
  /*background: #00A677; /* For browsers that do not support gradients */
  /*background: -webkit-linear-gradient(270deg,#00A677, #00838F,#00A677); /* For Safari 5.1 to 6.0 */
  /*                background: -o-linear-gradient(270deg,#00A677, #00838F,#00A677);  For Opera 11.1 to 12.0 
                background: -moz-linear-gradient(270deg,#00A677, #00838F,#00A677);  For Firefox 3.6 to 15 
                background: linear-gradient(270deg,#00A677, #00838F,#00A677);  Standard syntax */
  /*background-color:#EEE;*/
  padding: 30px 0;
}
body .contieni .log_pop .log_cont .img_cont {
  float: left;
  width: 100%;
  padding: 15px 0;
}
body .contieni .log_pop .log_cont .img_cont img {
  padding: 0 5%;
  max-width: 100%;
}
body .box_input {
  float: left;
  width: 100%;
  padding: 5px 5%;
}
body .box_input.submit {
  margin-top: 40px;
}
body .box_input label {
  margin: 5px 0;
  font-size: 14px;
  color: #212121;
}
body .box_input .input_cont {
  border: none;
  outline: none;
  color: #FFF;
  padding: 0;
  margin: 0;
}
body .box_input .input_cont .select2-selection__rendered:hover {
  color: #009688;
}
body .box_input .input_cont .radios label {
  padding: 0 5px;
  font-size: 13px;
  color: #000;
  font-weight: normal;
}
body .box_input .input_cont .radios label:hover {
  color: #009688;
}
body .box_input .input_cont input[type='text'],
body .box_input .input_cont input[type='date'],
body .box_input .input_cont input[type='submit'],
body .box_input .input_cont textarea,
body .box_input .input_cont select {
  color: #212121;
  border: none;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  padding: 10px 5px;
}
body .box_input .input_cont input[type='text']:not([type='submit']):hover,
body .box_input .input_cont input[type='date']:not([type='submit']):hover,
body .box_input .input_cont input[type='submit']:not([type='submit']):hover,
body .box_input .input_cont textarea:not([type='submit']):hover,
body .box_input .input_cont select:not([type='submit']):hover,
body .box_input .input_cont input[type='text']:not([type='submit']):focus,
body .box_input .input_cont input[type='date']:not([type='submit']):focus,
body .box_input .input_cont input[type='submit']:not([type='submit']):focus,
body .box_input .input_cont textarea:not([type='submit']):focus,
body .box_input .input_cont select:not([type='submit']):focus {
  outline: 2px solid #009688;
}
body .box_input .input_cont input[type='text'][type='submit'],
body .box_input .input_cont input[type='date'][type='submit'],
body .box_input .input_cont input[type='submit'][type='submit'],
body .box_input .input_cont textarea[type='submit'],
body .box_input .input_cont select[type='submit'] {
  width: auto;
  padding: 10px 40px;
  color: #FFF;
  margin: 0 auto;
}
body .box_input .input_cont input[type='text'][type='submit']:hover,
body .box_input .input_cont input[type='date'][type='submit']:hover,
body .box_input .input_cont input[type='submit'][type='submit']:hover,
body .box_input .input_cont textarea[type='submit']:hover,
body .box_input .input_cont select[type='submit']:hover,
body .box_input .input_cont input[type='text'][type='submit']:focus,
body .box_input .input_cont input[type='date'][type='submit']:focus,
body .box_input .input_cont input[type='submit'][type='submit']:focus,
body .box_input .input_cont textarea[type='submit']:focus,
body .box_input .input_cont select[type='submit']:focus {
  background-color: #009688;
}
body .box_input .input_cont textarea {
  height: 150px;
}
body #sidebar-menu .menu_section {
  float: left;
  width: 100%;
}
body .x_panel .x_title {
  float: left;
  width: 100%;
}
body .x_panel .x_content table.table tbody tr td p {
  margin: 7px 0;
}
/*# sourceMappingURL=style_add.css.map */