{% block head %}
    {%include 'contentsBundle:Default:inc_head.html.twig' %}
{% endblock %}

{% block header %}
    {%include 'contentsBundle:Default:inc_header.html.twig' %}
{% endblock%}
<div class="right_col" role="main">
{% block content %}
    
{% endblock %}
</div>

{% block footer %}
    {%include 'contentsBundle:Default:inc_footer.html.twig' %}
{% endblock %}
